/* Layout.css */
.layout-container {
    max-width: 100%;
    margin: 0 auto;
    background-color: #f6f5ef;
    min-height: 100vh;
    padding-bottom: 60px; /* Space for bottom navigation */
}

/* Responsive Adjustments */
@media (min-width: 768px) {
    .layout-container {
        max-width: 430px;
        margin: 0 auto;
        /* padding-inline: 10px; */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}
